<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.manv.dao.GithubMemberMapper">
    <select id="findGithubMemberById" parameterType="java.lang.Long" resultType="com.ssafy.manv.entity.GithubMember">
    	SELECT * FROM `github_member` WHERE id = #{id}
    </select>
    <insert id="save" parameterType="com.ssafy.manv.entity.GithubMember">
    	INSERT INTO `github_member` VALUES (#{id}, #{login}, #{node_id}, #{avatar_url}, #{url}, #{html_url})
    </insert>
    <insert id="saveConnect" parameterType="com.ssafy.manv.entity.MemberAndGithub">
    	INSERT INTO `cmember_github` VALUES (#{member_id}, #{github_id})
    </insert>
</mapper>